
 /*style pour chaque photographe*********/
.div-global{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;}

 .img-portrait{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    
 }
 .div-img{ height: 120px;
    width: 120px;margin-right: 2rem;}
 .info-photograph{
    margin-left: 2rem; 
    height: 120px; 
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 }
 .info-photograph h1{
    color: #D3573C;
    font-size: 40px;
    font-weight: 400;
 }
 .info-photograph h2{
    font-size: 20px;
    font-weight: 400;
    color:#901C1C;    
 }
 .info-photograph h3{
    font-size: 14px;
    font-weight: 400;
    
 }
 /*conteneur trier*******/
 p{font-weight: 700;
    margin-right: 13px;
}
 .conteneur-trier{
    display: flex;
    position: relative;
    margin-top: 0.5rem;
     
 }
 .trier{
    background-color: #901C1C;
    border-radius: 5px;
    padding: 5px;
 }
 .boutton-trier{
    padding-right: 14px;
 }
  .trier i{
    color: #ffff;}
     
 .list{
    position: absolute;
    z-index: 1;     
    left: 5rem;     
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 98px;
    width: 7rem;     
    }
 .list button{
    color: #ffff;
    background-color: #901C1C;
    border: none;
     
 }
 ul{background-color: #901C1C;
   display: none; 
      }
      .show{
        display: block;
        border-radius: 5px;
      }
li{color: #ffff;
    list-style-type: none;
    border-top: #FAFAFA solid 1px;
    margin-left: -2rem;
    padding: 5px;
}
/*Alllikes**************/
.likes-price{
    position: fixed;
    
    left: 40rem;
    bottom:2rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 30px;
    background-color: #D3573C;
    border-radius: 5px;
    padding: 0px 5px 0px 5px; 
   
}
.likes-price h3,.likes-price h4{
    font-size: 15px;
    font-weight: 600;
}
 
.likes-icon{display: flex;
align-items: center;
gap: 10px;}
.contener-likes i{
    position: relative;
    color: #312E2E;
    
}

/*leightbox********************/
.contnerSlider{
    height: 350px;
    width: 93%;
    position: relative;
}
.slider{
    width: 100%;
    height: 350px;
    position: absolute;
}
.slider img{
    width: 100%;
    height: 100%;
}
.slider video{
    width: 100%;
    height: 100%;
}
.slider h2{
   color: #901C1C; 
   font-size: 14px;
}
.btn{
     height: 40px;
     width: 40px;
    border-radius: 50%;
    border: none;
    font-size: 35px; 
    position: absolute;
    color: #901C1C;    
}
.btn_precedent{
    top: 45%;
left: 2%;
}
.btn_next{
    top: 45%;
    right: 2%;
}
hidden{
    display: none;
}
/*les media**************/
 .conteneur-photo{    
    height: 155px;
    width: 30%;
 }
 .conteneur-photo:focus-visible{
    outline:red 5px solid;
 }
 .conteneur-photo h3{
    font-size:12px ;
    font-weight:400 ;
    color:  #901C1C;     
 }

 .titre-like{
    
    display: flex;
justify-content: space-between;}

.fa-solid{
    color: #901C1C;
    font-size: small;
}
 .div-img-media{
  height: 140px;
  width: 100%;
 }
 .images{
height: 140px;
width: 100%;
 }
 .conteneur{
    position: relative;
    display: flex;
    /*flex-direction: row-reverse;**/
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 1.5rem;
 }
.div-like-icon{
    display: flex;
    gap: 2px;
}
/*style pour le modal********/
#contact_modal,#leightbox_modal {
    display: none;
    padding-left: 12rem;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 66px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}
.sp-boutton,.sp-video{
    position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
   overflow: hidden;   
  border: 0;
}
.errorL, .errorF, .errorE{color: red;}
.video_photographie{
    height: 140px;
    width: 100%;
}

.modal,.modal2 {
    position: absolute;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}
 
.slide{
    height: 30px;
    width: 30px;
}
.unactive-slider {
    display: none;
}

.active-slider {
    display: block;
}
.modal header {
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    }
.modal2 header{
    display: flex;
    justify-content: end;
    width: 100%;
}    

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 44px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}